function Keyboard.init 0 //0
push constant 24576 //1
pop static 0 //2
return //3
function Keyboard.keyPressed 0 //0
push static 0 //1
call Memory.peek 1 //2
return //3
function Keyboard.readChar 1 //0
push constant 0 //1
call Output.printChar 1 //2
pop temp 0 //3
call Output.backSpace 0 //4
pop temp 0 //5
label L0 //6
call Keyboard.keyPressed 0 //7
not //8
not //9
if-goto L1 //10
goto L0 //11
label L1 //12
call Keyboard.keyPressed 0 //13
pop local 0 //14
label L2 //15
call Keyboard.keyPressed 0 //16
push local 0 //17
eq //18
not //19
if-goto L3 //20
goto L2 //21
label L3 //22
push local 0 //23
call Output.printChar 1 //24
pop temp 0 //25
push local 0 //26
return //27
function Keyboard.readLine 2 //0
push constant 100 //1
call String.new 1 //2
pop local 0 //3
push argument 0 //4
call Output.printString 1 //5
pop temp 0 //6
label L4 //7
push constant 1 //8
neg //9
not //10
if-goto L5 //11
call Keyboard.readChar 0 //12
pop local 1 //13
push local 1 //14
call String.newLine 0 //15
eq //16
not //17
if-goto L6 //18
call Output.println 0 //19
pop temp 0 //20
push local 0 //21
return //22
goto L7 //23
label L6 //24
label L7 //25
push local 1 //26
call String.backSpace 0 //27
eq //28
not //29
if-goto L8 //30
push local 0 //31
call String.eraseLastChar 1 //32
pop temp 0 //33
call Output.backSpace 0 //34
pop temp 0 //35
goto L9 //36
label L8 //37
push local 0 //38
push local 1 //39
call String.appendChar 2 //40
pop temp 0 //41
label L9 //42
goto L4 //43
label L5 //44
return //45
function Keyboard.readInt 2 //0
push argument 0 //1
call Keyboard.readLine 1 //2
pop local 0 //3
push local 0 //4
call String.intValue 1 //5
return //6
