function Main.main 5 //0
push constant 0 //1
pop local 4 //2
push constant 16 //3
call String.new 1 //4
push constant 107 //5
call String.appendChar 2 //6
push constant 101 //7
call String.appendChar 2 //8
push constant 121 //9
call String.appendChar 2 //10
push constant 80 //11
call String.appendChar 2 //12
push constant 114 //13
call String.appendChar 2 //14
push constant 101 //15
call String.appendChar 2 //16
push constant 115 //17
call String.appendChar 2 //18
push constant 115 //19
call String.appendChar 2 //20
push constant 101 //21
call String.appendChar 2 //22
push constant 100 //23
call String.appendChar 2 //24
push constant 32 //25
call String.appendChar 2 //26
push constant 116 //27
call String.appendChar 2 //28
push constant 101 //29
call String.appendChar 2 //30
push constant 115 //31
call String.appendChar 2 //32
push constant 116 //33
call String.appendChar 2 //34
push constant 58 //35
call String.appendChar 2 //36
call Output.printString 1 //37
pop temp 0 //38
call Output.println 0 //39
pop temp 0 //40
label L10 //41
push local 4 //42
not //43
not //44
if-goto L11 //45
push constant 32 //46
call String.new 1 //47
push constant 80 //48
call String.appendChar 2 //49
push constant 108 //50
call String.appendChar 2 //51
push constant 101 //52
call String.appendChar 2 //53
push constant 97 //54
call String.appendChar 2 //55
push constant 115 //56
call String.appendChar 2 //57
push constant 101 //58
call String.appendChar 2 //59
push constant 32 //60
call String.appendChar 2 //61
push constant 112 //62
call String.appendChar 2 //63
push constant 114 //64
call String.appendChar 2 //65
push constant 101 //66
call String.appendChar 2 //67
push constant 115 //68
call String.appendChar 2 //69
push constant 115 //70
call String.appendChar 2 //71
push constant 32 //72
call String.appendChar 2 //73
push constant 116 //74
call String.appendChar 2 //75
push constant 104 //76
call String.appendChar 2 //77
push constant 101 //78
call String.appendChar 2 //79
push constant 32 //80
call String.appendChar 2 //81
push constant 39 //82
call String.appendChar 2 //83
push constant 80 //84
call String.appendChar 2 //85
push constant 97 //86
call String.appendChar 2 //87
push constant 103 //88
call String.appendChar 2 //89
push constant 101 //90
call String.appendChar 2 //91
push constant 32 //92
call String.appendChar 2 //93
push constant 68 //94
call String.appendChar 2 //95
push constant 111 //96
call String.appendChar 2 //97
push constant 119 //98
call String.appendChar 2 //99
push constant 110 //100
call String.appendChar 2 //101
push constant 39 //102
call String.appendChar 2 //103
push constant 32 //104
call String.appendChar 2 //105
push constant 107 //106
call String.appendChar 2 //107
push constant 101 //108
call String.appendChar 2 //109
push constant 121 //110
call String.appendChar 2 //111
call Output.printString 1 //112
pop temp 0 //113
label L12 //114
push local 1 //115
push constant 0 //116
eq //117
not //118
if-goto L13 //119
call Keyboard.keyPressed 0 //120
pop local 1 //121
goto L12 //122
label L13 //123
push local 1 //124
pop local 0 //125
label L14 //126
push local 1 //127
push constant 0 //128
eq //129
not //130
not //131
if-goto L15 //132
call Keyboard.keyPressed 0 //133
pop local 1 //134
goto L14 //135
label L15 //136
call Output.println 0 //137
pop temp 0 //138
push local 0 //139
push constant 137 //140
eq //141
not //142
if-goto L16 //143
push constant 2 //144
call String.new 1 //145
push constant 111 //146
call String.appendChar 2 //147
push constant 107 //148
call String.appendChar 2 //149
call Output.printString 1 //150
pop temp 0 //151
call Output.println 0 //152
pop temp 0 //153
push constant 1 //154
neg //155
pop local 4 //156
goto L17 //157
label L16 //158
label L17 //159
goto L10 //160
label L11 //161
push constant 0 //162
pop local 4 //163
push constant 14 //164
call String.new 1 //165
push constant 114 //166
call String.appendChar 2 //167
push constant 101 //168
call String.appendChar 2 //169
push constant 97 //170
call String.appendChar 2 //171
push constant 100 //172
call String.appendChar 2 //173
push constant 67 //174
call String.appendChar 2 //175
push constant 104 //176
call String.appendChar 2 //177
push constant 97 //178
call String.appendChar 2 //179
push constant 114 //180
call String.appendChar 2 //181
push constant 32 //182
call String.appendChar 2 //183
push constant 116 //184
call String.appendChar 2 //185
push constant 101 //186
call String.appendChar 2 //187
push constant 115 //188
call String.appendChar 2 //189
push constant 116 //190
call String.appendChar 2 //191
push constant 58 //192
call String.appendChar 2 //193
call Output.printString 1 //194
pop temp 0 //195
call Output.println 0 //196
pop temp 0 //197
push constant 59 //198
call String.new 1 //199
push constant 40 //200
call String.appendChar 2 //201
push constant 86 //202
call String.appendChar 2 //203
push constant 101 //204
call String.appendChar 2 //205
push constant 114 //206
call String.appendChar 2 //207
push constant 105 //208
call String.appendChar 2 //209
push constant 102 //210
call String.appendChar 2 //211
push constant 121 //212
call String.appendChar 2 //213
push constant 32 //214
call String.appendChar 2 //215
push constant 116 //216
call String.appendChar 2 //217
push constant 104 //218
call String.appendChar 2 //219
push constant 97 //220
call String.appendChar 2 //221
push constant 116 //222
call String.appendChar 2 //223
push constant 32 //224
call String.appendChar 2 //225
push constant 116 //226
call String.appendChar 2 //227
push constant 104 //228
call String.appendChar 2 //229
push constant 101 //230
call String.appendChar 2 //231
push constant 32 //232
call String.appendChar 2 //233
push constant 112 //234
call String.appendChar 2 //235
push constant 114 //236
call String.appendChar 2 //237
push constant 101 //238
call String.appendChar 2 //239
push constant 115 //240
call String.appendChar 2 //241
push constant 115 //242
call String.appendChar 2 //243
push constant 101 //244
call String.appendChar 2 //245
push constant 100 //246
call String.appendChar 2 //247
push constant 32 //248
call String.appendChar 2 //249
push constant 99 //250
call String.appendChar 2 //251
push constant 104 //252
call String.appendChar 2 //253
push constant 97 //254
call String.appendChar 2 //255
push constant 114 //256
call String.appendChar 2 //257
push constant 97 //258
call String.appendChar 2 //259
push constant 99 //260
call String.appendChar 2 //261
push constant 116 //262
call String.appendChar 2 //263
push constant 101 //264
call String.appendChar 2 //265
push constant 114 //266
call String.appendChar 2 //267
push constant 32 //268
call String.appendChar 2 //269
push constant 105 //270
call String.appendChar 2 //271
push constant 115 //272
call String.appendChar 2 //273
push constant 32 //274
call String.appendChar 2 //275
push constant 101 //276
call String.appendChar 2 //277
push constant 99 //278
call String.appendChar 2 //279
push constant 104 //280
call String.appendChar 2 //281
push constant 111 //282
call String.appendChar 2 //283
push constant 101 //284
call String.appendChar 2 //285
push constant 100 //286
call String.appendChar 2 //287
push constant 32 //288
call String.appendChar 2 //289
push constant 116 //290
call String.appendChar 2 //291
push constant 111 //292
call String.appendChar 2 //293
push constant 32 //294
call String.appendChar 2 //295
push constant 116 //296
call String.appendChar 2 //297
push constant 104 //298
call String.appendChar 2 //299
push constant 101 //300
call String.appendChar 2 //301
push constant 32 //302
call String.appendChar 2 //303
push constant 115 //304
call String.appendChar 2 //305
push constant 99 //306
call String.appendChar 2 //307
push constant 114 //308
call String.appendChar 2 //309
push constant 101 //310
call String.appendChar 2 //311
push constant 101 //312
call String.appendChar 2 //313
push constant 110 //314
call String.appendChar 2 //315
push constant 41 //316
call String.appendChar 2 //317
call Output.printString 1 //318
pop temp 0 //319
call Output.println 0 //320
pop temp 0 //321
label L18 //322
push local 4 //323
not //324
not //325
if-goto L19 //326
push constant 29 //327
call String.new 1 //328
push constant 80 //329
call String.appendChar 2 //330
push constant 108 //331
call String.appendChar 2 //332
push constant 101 //333
call String.appendChar 2 //334
push constant 97 //335
call String.appendChar 2 //336
push constant 115 //337
call String.appendChar 2 //338
push constant 101 //339
call String.appendChar 2 //340
push constant 32 //341
call String.appendChar 2 //342
push constant 112 //343
call String.appendChar 2 //344
push constant 114 //345
call String.appendChar 2 //346
push constant 101 //347
call String.appendChar 2 //348
push constant 115 //349
call String.appendChar 2 //350
push constant 115 //351
call String.appendChar 2 //352
push constant 32 //353
call String.appendChar 2 //354
push constant 116 //355
call String.appendChar 2 //356
push constant 104 //357
call String.appendChar 2 //358
push constant 101 //359
call String.appendChar 2 //360
push constant 32 //361
call String.appendChar 2 //362
push constant 110 //363
call String.appendChar 2 //364
push constant 117 //365
call String.appendChar 2 //366
push constant 109 //367
call String.appendChar 2 //368
push constant 98 //369
call String.appendChar 2 //370
push constant 101 //371
call String.appendChar 2 //372
push constant 114 //373
call String.appendChar 2 //374
push constant 32 //375
call String.appendChar 2 //376
push constant 39 //377
call String.appendChar 2 //378
push constant 51 //379
call String.appendChar 2 //380
push constant 39 //381
call String.appendChar 2 //382
push constant 58 //383
call String.appendChar 2 //384
push constant 32 //385
call String.appendChar 2 //386
call Output.printString 1 //387
pop temp 0 //388
call Keyboard.readChar 0 //389
pop local 0 //390
call Output.println 0 //391
pop temp 0 //392
push local 0 //393
push constant 51 //394
eq //395
not //396
if-goto L20 //397
push constant 2 //398
call String.new 1 //399
push constant 111 //400
call String.appendChar 2 //401
push constant 107 //402
call String.appendChar 2 //403
call Output.printString 1 //404
pop temp 0 //405
call Output.println 0 //406
pop temp 0 //407
push constant 1 //408
neg //409
pop local 4 //410
goto L21 //411
label L20 //412
label L21 //413
goto L18 //414
label L19 //415
push constant 0 //416
pop local 4 //417
push constant 14 //418
call String.new 1 //419
push constant 114 //420
call String.appendChar 2 //421
push constant 101 //422
call String.appendChar 2 //423
push constant 97 //424
call String.appendChar 2 //425
push constant 100 //426
call String.appendChar 2 //427
push constant 76 //428
call String.appendChar 2 //429
push constant 105 //430
call String.appendChar 2 //431
push constant 110 //432
call String.appendChar 2 //433
push constant 101 //434
call String.appendChar 2 //435
push constant 32 //436
call String.appendChar 2 //437
push constant 116 //438
call String.appendChar 2 //439
push constant 101 //440
call String.appendChar 2 //441
push constant 115 //442
call String.appendChar 2 //443
push constant 116 //444
call String.appendChar 2 //445
push constant 58 //446
call String.appendChar 2 //447
call Output.printString 1 //448
pop temp 0 //449
call Output.println 0 //450
pop temp 0 //451
push constant 38 //452
call String.new 1 //453
push constant 40 //454
call String.appendChar 2 //455
push constant 86 //456
call String.appendChar 2 //457
push constant 101 //458
call String.appendChar 2 //459
push constant 114 //460
call String.appendChar 2 //461
push constant 105 //462
call String.appendChar 2 //463
push constant 102 //464
call String.appendChar 2 //465
push constant 121 //466
call String.appendChar 2 //467
push constant 32 //468
call String.appendChar 2 //469
push constant 101 //470
call String.appendChar 2 //471
push constant 99 //472
call String.appendChar 2 //473
push constant 104 //474
call String.appendChar 2 //475
push constant 111 //476
call String.appendChar 2 //477
push constant 32 //478
call String.appendChar 2 //479
push constant 97 //480
call String.appendChar 2 //481
push constant 110 //482
call String.appendChar 2 //483
push constant 100 //484
call String.appendChar 2 //485
push constant 32 //486
call String.appendChar 2 //487
push constant 117 //488
call String.appendChar 2 //489
push constant 115 //490
call String.appendChar 2 //491
push constant 97 //492
call String.appendChar 2 //493
push constant 103 //494
call String.appendChar 2 //495
push constant 101 //496
call String.appendChar 2 //497
push constant 32 //498
call String.appendChar 2 //499
push constant 111 //500
call String.appendChar 2 //501
push constant 102 //502
call String.appendChar 2 //503
push constant 32 //504
call String.appendChar 2 //505
push constant 39 //506
call String.appendChar 2 //507
push constant 98 //508
call String.appendChar 2 //509
push constant 97 //510
call String.appendChar 2 //511
push constant 99 //512
call String.appendChar 2 //513
push constant 107 //514
call String.appendChar 2 //515
push constant 115 //516
call String.appendChar 2 //517
push constant 112 //518
call String.appendChar 2 //519
push constant 97 //520
call String.appendChar 2 //521
push constant 99 //522
call String.appendChar 2 //523
push constant 101 //524
call String.appendChar 2 //525
push constant 39 //526
call String.appendChar 2 //527
push constant 41 //528
call String.appendChar 2 //529
call Output.printString 1 //530
pop temp 0 //531
call Output.println 0 //532
pop temp 0 //533
label L22 //534
push local 4 //535
not //536
not //537
if-goto L23 //538
push constant 36 //539
call String.new 1 //540
push constant 80 //541
call String.appendChar 2 //542
push constant 108 //543
call String.appendChar 2 //544
push constant 101 //545
call String.appendChar 2 //546
push constant 97 //547
call String.appendChar 2 //548
push constant 115 //549
call String.appendChar 2 //550
push constant 101 //551
call String.appendChar 2 //552
push constant 32 //553
call String.appendChar 2 //554
push constant 116 //555
call String.appendChar 2 //556
push constant 121 //557
call String.appendChar 2 //558
push constant 112 //559
call String.appendChar 2 //560
push constant 101 //561
call String.appendChar 2 //562
push constant 32 //563
call String.appendChar 2 //564
push constant 39 //565
call String.appendChar 2 //566
push constant 74 //567
call String.appendChar 2 //568
push constant 65 //569
call String.appendChar 2 //570
push constant 67 //571
call String.appendChar 2 //572
push constant 75 //573
call String.appendChar 2 //574
push constant 39 //575
call String.appendChar 2 //576
push constant 32 //577
call String.appendChar 2 //578
push constant 97 //579
call String.appendChar 2 //580
push constant 110 //581
call String.appendChar 2 //582
push constant 100 //583
call String.appendChar 2 //584
push constant 32 //585
call String.appendChar 2 //586
push constant 112 //587
call String.appendChar 2 //588
push constant 114 //589
call String.appendChar 2 //590
push constant 101 //591
call String.appendChar 2 //592
push constant 115 //593
call String.appendChar 2 //594
push constant 115 //595
call String.appendChar 2 //596
push constant 32 //597
call String.appendChar 2 //598
push constant 101 //599
call String.appendChar 2 //600
push constant 110 //601
call String.appendChar 2 //602
push constant 116 //603
call String.appendChar 2 //604
push constant 101 //605
call String.appendChar 2 //606
push constant 114 //607
call String.appendChar 2 //608
push constant 58 //609
call String.appendChar 2 //610
push constant 32 //611
call String.appendChar 2 //612
call Keyboard.readLine 1 //613
pop local 2 //614
push local 2 //615
call String.length 1 //616
push constant 4 //617
eq //618
not //619
if-goto L24 //620
push local 2 //621
push constant 0 //622
call String.charAt 2 //623
push constant 74 //624
eq //625
push local 2 //626
push constant 1 //627
call String.charAt 2 //628
push constant 65 //629
eq //630
and //631
push local 2 //632
push constant 2 //633
call String.charAt 2 //634
push constant 67 //635
eq //636
and //637
push local 2 //638
push constant 3 //639
call String.charAt 2 //640
push constant 75 //641
eq //642
and //643
not //644
if-goto L25 //645
push constant 2 //646
call String.new 1 //647
push constant 111 //648
call String.appendChar 2 //649
push constant 107 //650
call String.appendChar 2 //651
call Output.printString 1 //652
pop temp 0 //653
call Output.println 0 //654
pop temp 0 //655
push constant 1 //656
neg //657
pop local 4 //658
goto L26 //659
label L25 //660
label L26 //661
goto L27 //662
label L24 //663
label L27 //664
goto L22 //665
label L23 //666
push constant 0 //667
pop local 4 //668
push constant 13 //669
call String.new 1 //670
push constant 114 //671
call String.appendChar 2 //672
push constant 101 //673
call String.appendChar 2 //674
push constant 97 //675
call String.appendChar 2 //676
push constant 100 //677
call String.appendChar 2 //678
push constant 73 //679
call String.appendChar 2 //680
push constant 110 //681
call String.appendChar 2 //682
push constant 116 //683
call String.appendChar 2 //684
push constant 32 //685
call String.appendChar 2 //686
push constant 116 //687
call String.appendChar 2 //688
push constant 101 //689
call String.appendChar 2 //690
push constant 115 //691
call String.appendChar 2 //692
push constant 116 //693
call String.appendChar 2 //694
push constant 58 //695
call String.appendChar 2 //696
call Output.printString 1 //697
pop temp 0 //698
call Output.println 0 //699
pop temp 0 //700
push constant 38 //701
call String.new 1 //702
push constant 40 //703
call String.appendChar 2 //704
push constant 86 //705
call String.appendChar 2 //706
push constant 101 //707
call String.appendChar 2 //708
push constant 114 //709
call String.appendChar 2 //710
push constant 105 //711
call String.appendChar 2 //712
push constant 102 //713
call String.appendChar 2 //714
push constant 121 //715
call String.appendChar 2 //716
push constant 32 //717
call String.appendChar 2 //718
push constant 101 //719
call String.appendChar 2 //720
push constant 99 //721
call String.appendChar 2 //722
push constant 104 //723
call String.appendChar 2 //724
push constant 111 //725
call String.appendChar 2 //726
push constant 32 //727
call String.appendChar 2 //728
push constant 97 //729
call String.appendChar 2 //730
push constant 110 //731
call String.appendChar 2 //732
push constant 100 //733
call String.appendChar 2 //734
push constant 32 //735
call String.appendChar 2 //736
push constant 117 //737
call String.appendChar 2 //738
push constant 115 //739
call String.appendChar 2 //740
push constant 97 //741
call String.appendChar 2 //742
push constant 103 //743
call String.appendChar 2 //744
push constant 101 //745
call String.appendChar 2 //746
push constant 32 //747
call String.appendChar 2 //748
push constant 111 //749
call String.appendChar 2 //750
push constant 102 //751
call String.appendChar 2 //752
push constant 32 //753
call String.appendChar 2 //754
push constant 39 //755
call String.appendChar 2 //756
push constant 98 //757
call String.appendChar 2 //758
push constant 97 //759
call String.appendChar 2 //760
push constant 99 //761
call String.appendChar 2 //762
push constant 107 //763
call String.appendChar 2 //764
push constant 115 //765
call String.appendChar 2 //766
push constant 112 //767
call String.appendChar 2 //768
push constant 97 //769
call String.appendChar 2 //770
push constant 99 //771
call String.appendChar 2 //772
push constant 101 //773
call String.appendChar 2 //774
push constant 39 //775
call String.appendChar 2 //776
push constant 41 //777
call String.appendChar 2 //778
call Output.printString 1 //779
pop temp 0 //780
call Output.println 0 //781
pop temp 0 //782
label L28 //783
push local 4 //784
not //785
not //786
if-goto L29 //787
push constant 38 //788
call String.new 1 //789
push constant 80 //790
call String.appendChar 2 //791
push constant 108 //792
call String.appendChar 2 //793
push constant 101 //794
call String.appendChar 2 //795
push constant 97 //796
call String.appendChar 2 //797
push constant 115 //798
call String.appendChar 2 //799
push constant 101 //800
call String.appendChar 2 //801
push constant 32 //802
call String.appendChar 2 //803
push constant 116 //804
call String.appendChar 2 //805
push constant 121 //806
call String.appendChar 2 //807
push constant 112 //808
call String.appendChar 2 //809
push constant 101 //810
call String.appendChar 2 //811
push constant 32 //812
call String.appendChar 2 //813
push constant 39 //814
call String.appendChar 2 //815
push constant 45 //816
call String.appendChar 2 //817
push constant 51 //818
call String.appendChar 2 //819
push constant 50 //820
call String.appendChar 2 //821
push constant 49 //822
call String.appendChar 2 //823
push constant 50 //824
call String.appendChar 2 //825
push constant 51 //826
call String.appendChar 2 //827
push constant 39 //828
call String.appendChar 2 //829
push constant 32 //830
call String.appendChar 2 //831
push constant 97 //832
call String.appendChar 2 //833
push constant 110 //834
call String.appendChar 2 //835
push constant 100 //836
call String.appendChar 2 //837
push constant 32 //838
call String.appendChar 2 //839
push constant 112 //840
call String.appendChar 2 //841
push constant 114 //842
call String.appendChar 2 //843
push constant 101 //844
call String.appendChar 2 //845
push constant 115 //846
call String.appendChar 2 //847
push constant 115 //848
call String.appendChar 2 //849
push constant 32 //850
call String.appendChar 2 //851
push constant 101 //852
call String.appendChar 2 //853
push constant 110 //854
call String.appendChar 2 //855
push constant 116 //856
call String.appendChar 2 //857
push constant 101 //858
call String.appendChar 2 //859
push constant 114 //860
call String.appendChar 2 //861
push constant 58 //862
call String.appendChar 2 //863
push constant 32 //864
call String.appendChar 2 //865
call Keyboard.readInt 1 //866
pop local 3 //867
push local 3 //868
push constant 32123 //869
neg //870
eq //871
not //872
if-goto L30 //873
push constant 2 //874
call String.new 1 //875
push constant 111 //876
call String.appendChar 2 //877
push constant 107 //878
call String.appendChar 2 //879
call Output.printString 1 //880
pop temp 0 //881
call Output.println 0 //882
pop temp 0 //883
push constant 1 //884
neg //885
pop local 4 //886
goto L31 //887
label L30 //888
label L31 //889
goto L28 //890
label L29 //891
call Output.println 0 //892
pop temp 0 //893
push constant 27 //894
call String.new 1 //895
push constant 84 //896
call String.appendChar 2 //897
push constant 101 //898
call String.appendChar 2 //899
push constant 115 //900
call String.appendChar 2 //901
push constant 116 //902
call String.appendChar 2 //903
push constant 32 //904
call String.appendChar 2 //905
push constant 99 //906
call String.appendChar 2 //907
push constant 111 //908
call String.appendChar 2 //909
push constant 109 //910
call String.appendChar 2 //911
push constant 112 //912
call String.appendChar 2 //913
push constant 108 //914
call String.appendChar 2 //915
push constant 101 //916
call String.appendChar 2 //917
push constant 116 //918
call String.appendChar 2 //919
push constant 101 //920
call String.appendChar 2 //921
push constant 100 //922
call String.appendChar 2 //923
push constant 32 //924
call String.appendChar 2 //925
push constant 115 //926
call String.appendChar 2 //927
push constant 117 //928
call String.appendChar 2 //929
push constant 99 //930
call String.appendChar 2 //931
push constant 99 //932
call String.appendChar 2 //933
push constant 101 //934
call String.appendChar 2 //935
push constant 115 //936
call String.appendChar 2 //937
push constant 115 //938
call String.appendChar 2 //939
push constant 102 //940
call String.appendChar 2 //941
push constant 117 //942
call String.appendChar 2 //943
push constant 108 //944
call String.appendChar 2 //945
push constant 108 //946
call String.appendChar 2 //947
push constant 121 //948
call String.appendChar 2 //949
call Output.printString 1 //950
pop temp 0 //951
return //952
