function Main.main 4 //0
push constant 8000 //1
pop local 0 //2
push constant 3 //3
call Array.new 1 //4
pop local 1 //5
push local 1 //6
push constant 2 //7
add //8
push constant 222 //9
pop temp 0 //10
pop pointer 1 //11
push temp 0 //12
pop that 0 //13
push local 0 //14
push constant 0 //15
add //16
push local 1 //17
push constant 2 //18
add //19
pop pointer 1 //20
push that 0 //21
pop temp 0 //22
pop pointer 1 //23
push temp 0 //24
pop that 0 //25
push constant 3 //26
call Array.new 1 //27
pop local 2 //28
push local 2 //29
push constant 1 //30
add //31
push local 1 //32
push constant 2 //33
add //34
pop pointer 1 //35
push that 0 //36
push constant 100 //37
sub //38
pop temp 0 //39
pop pointer 1 //40
push temp 0 //41
pop that 0 //42
push local 0 //43
push constant 1 //44
add //45
push local 2 //46
push constant 1 //47
add //48
pop pointer 1 //49
push that 0 //50
pop temp 0 //51
pop pointer 1 //52
push temp 0 //53
pop that 0 //54
push constant 500 //55
call Array.new 1 //56
pop local 3 //57
push local 3 //58
push constant 499 //59
add //60
push local 1 //61
push constant 2 //62
add //63
pop pointer 1 //64
push that 0 //65
push local 2 //66
push constant 1 //67
add //68
pop pointer 1 //69
push that 0 //70
sub //71
pop temp 0 //72
pop pointer 1 //73
push temp 0 //74
pop that 0 //75
push local 0 //76
push constant 2 //77
add //78
push local 3 //79
push constant 499 //80
add //81
pop pointer 1 //82
push that 0 //83
pop temp 0 //84
pop pointer 1 //85
push temp 0 //86
pop that 0 //87
push local 1 //88
call Array.dispose 1 //89
pop temp 0 //90
push local 2 //91
call Array.dispose 1 //92
pop temp 0 //93
push constant 3 //94
call Array.new 1 //95
pop local 2 //96
push local 2 //97
push constant 0 //98
add //99
push local 3 //100
push constant 499 //101
add //102
pop pointer 1 //103
push that 0 //104
push constant 90 //105
sub //106
pop temp 0 //107
pop pointer 1 //108
push temp 0 //109
pop that 0 //110
push local 0 //111
push constant 3 //112
add //113
push local 2 //114
push constant 0 //115
add //116
pop pointer 1 //117
push that 0 //118
pop temp 0 //119
pop pointer 1 //120
push temp 0 //121
pop that 0 //122
push local 3 //123
call Array.dispose 1 //124
pop temp 0 //125
push local 2 //126
call Array.dispose 1 //127
pop temp 0 //128
return //129
