function Main.main 1 //0
push constant 10 //1
call String.new 1 //2
push constant 87 //3
call String.appendChar 2 //4
push constant 97 //5
call String.appendChar 2 //6
push constant 105 //7
call String.appendChar 2 //8
push constant 116 //9
call String.appendChar 2 //10
push constant 32 //11
call String.appendChar 2 //12
push constant 116 //13
call String.appendChar 2 //14
push constant 101 //15
call String.appendChar 2 //16
push constant 115 //17
call String.appendChar 2 //18
push constant 116 //19
call String.appendChar 2 //20
push constant 58 //21
call String.appendChar 2 //22
call Output.printString 1 //23
pop temp 0 //24
call Output.println 0 //25
pop temp 0 //26
push constant 64 //27
call String.new 1 //28
push constant 80 //29
call String.appendChar 2 //30
push constant 114 //31
call String.appendChar 2 //32
push constant 101 //33
call String.appendChar 2 //34
push constant 115 //35
call String.appendChar 2 //36
push constant 115 //37
call String.appendChar 2 //38
push constant 32 //39
call String.appendChar 2 //40
push constant 97 //41
call String.appendChar 2 //42
push constant 110 //43
call String.appendChar 2 //44
push constant 121 //45
call String.appendChar 2 //46
push constant 32 //47
call String.appendChar 2 //48
push constant 107 //49
call String.appendChar 2 //50
push constant 101 //51
call String.appendChar 2 //52
push constant 121 //53
call String.appendChar 2 //54
push constant 46 //55
call String.appendChar 2 //56
push constant 32 //57
call String.appendChar 2 //58
push constant 65 //59
call String.appendChar 2 //60
push constant 102 //61
call String.appendChar 2 //62
push constant 116 //63
call String.appendChar 2 //64
push constant 101 //65
call String.appendChar 2 //66
push constant 114 //67
call String.appendChar 2 //68
push constant 32 //69
call String.appendChar 2 //70
push constant 50 //71
call String.appendChar 2 //72
push constant 32 //73
call String.appendChar 2 //74
push constant 115 //75
call String.appendChar 2 //76
push constant 101 //77
call String.appendChar 2 //78
push constant 99 //79
call String.appendChar 2 //80
push constant 111 //81
call String.appendChar 2 //82
push constant 110 //83
call String.appendChar 2 //84
push constant 100 //85
call String.appendChar 2 //86
push constant 115 //87
call String.appendChar 2 //88
push constant 44 //89
call String.appendChar 2 //90
push constant 32 //91
call String.appendChar 2 //92
push constant 97 //93
call String.appendChar 2 //94
push constant 110 //95
call String.appendChar 2 //96
push constant 111 //97
call String.appendChar 2 //98
push constant 116 //99
call String.appendChar 2 //100
push constant 104 //101
call String.appendChar 2 //102
push constant 101 //103
call String.appendChar 2 //104
push constant 114 //105
call String.appendChar 2 //106
push constant 32 //107
call String.appendChar 2 //108
push constant 109 //109
call String.appendChar 2 //110
push constant 101 //111
call String.appendChar 2 //112
push constant 115 //113
call String.appendChar 2 //114
push constant 115 //115
call String.appendChar 2 //116
push constant 97 //117
call String.appendChar 2 //118
push constant 103 //119
call String.appendChar 2 //120
push constant 101 //121
call String.appendChar 2 //122
push constant 32 //123
call String.appendChar 2 //124
push constant 119 //125
call String.appendChar 2 //126
push constant 105 //127
call String.appendChar 2 //128
push constant 108 //129
call String.appendChar 2 //130
push constant 108 //131
call String.appendChar 2 //132
push constant 32 //133
call String.appendChar 2 //134
push constant 98 //135
call String.appendChar 2 //136
push constant 101 //137
call String.appendChar 2 //138
push constant 32 //139
call String.appendChar 2 //140
push constant 112 //141
call String.appendChar 2 //142
push constant 114 //143
call String.appendChar 2 //144
push constant 105 //145
call String.appendChar 2 //146
push constant 110 //147
call String.appendChar 2 //148
push constant 116 //149
call String.appendChar 2 //150
push constant 101 //151
call String.appendChar 2 //152
push constant 100 //153
call String.appendChar 2 //154
push constant 58 //155
call String.appendChar 2 //156
call Output.printString 1 //157
pop temp 0 //158
label L6 //159
push local 0 //160
push constant 0 //161
eq //162
not //163
if-goto L7 //164
call Keyboard.keyPressed 0 //165
pop local 0 //166
goto L6 //167
label L7 //168
label L8 //169
push local 0 //170
push constant 0 //171
eq //172
not //173
not //174
if-goto L9 //175
call Keyboard.keyPressed 0 //176
pop local 0 //177
goto L8 //178
label L9 //179
push constant 2000 //180
call Sys.wait 1 //181
pop temp 0 //182
call Output.println 0 //183
pop temp 0 //184
push constant 45 //185
call String.new 1 //186
push constant 84 //187
call String.appendChar 2 //188
push constant 105 //189
call String.appendChar 2 //190
push constant 109 //191
call String.appendChar 2 //192
push constant 101 //193
call String.appendChar 2 //194
push constant 32 //195
call String.appendChar 2 //196
push constant 105 //197
call String.appendChar 2 //198
push constant 115 //199
call String.appendChar 2 //200
push constant 32 //201
call String.appendChar 2 //202
push constant 117 //203
call String.appendChar 2 //204
push constant 112 //205
call String.appendChar 2 //206
push constant 46 //207
call String.appendChar 2 //208
push constant 32 //209
call String.appendChar 2 //210
push constant 77 //211
call String.appendChar 2 //212
push constant 97 //213
call String.appendChar 2 //214
push constant 107 //215
call String.appendChar 2 //216
push constant 101 //217
call String.appendChar 2 //218
push constant 32 //219
call String.appendChar 2 //220
push constant 115 //221
call String.appendChar 2 //222
push constant 117 //223
call String.appendChar 2 //224
push constant 114 //225
call String.appendChar 2 //226
push constant 101 //227
call String.appendChar 2 //228
push constant 32 //229
call String.appendChar 2 //230
push constant 116 //231
call String.appendChar 2 //232
push constant 104 //233
call String.appendChar 2 //234
push constant 97 //235
call String.appendChar 2 //236
push constant 116 //237
call String.appendChar 2 //238
push constant 32 //239
call String.appendChar 2 //240
push constant 50 //241
call String.appendChar 2 //242
push constant 32 //243
call String.appendChar 2 //244
push constant 115 //245
call String.appendChar 2 //246
push constant 101 //247
call String.appendChar 2 //248
push constant 99 //249
call String.appendChar 2 //250
push constant 111 //251
call String.appendChar 2 //252
push constant 110 //253
call String.appendChar 2 //254
push constant 100 //255
call String.appendChar 2 //256
push constant 115 //257
call String.appendChar 2 //258
push constant 32 //259
call String.appendChar 2 //260
push constant 101 //261
call String.appendChar 2 //262
push constant 108 //263
call String.appendChar 2 //264
push constant 97 //265
call String.appendChar 2 //266
push constant 112 //267
call String.appendChar 2 //268
push constant 115 //269
call String.appendChar 2 //270
push constant 101 //271
call String.appendChar 2 //272
push constant 100 //273
call String.appendChar 2 //274
push constant 46 //275
call String.appendChar 2 //276
call Output.printString 1 //277
pop temp 0 //278
return //279
