function Sys.init 0 //0
call Memory.init 0 //1
pop temp 0 //2
call Output.init 0 //3
pop temp 0 //4
call Screen.init 0 //5
pop temp 0 //6
call Math.init 0 //7
pop temp 0 //8
call Keyboard.init 0 //9
pop temp 0 //10
call Main.main 0 //11
pop temp 0 //12
call Sys.halt 0 //13
pop temp 0 //14
return //15
function Sys.halt 0 //0
label L0 //1
push constant 1 //2
neg //3
not //4
if-goto L1 //5
goto L0 //6
label L1 //7
return //8
function Sys.wait 2 //0
label L2 //1
push local 0 //2
push constant 250 //3
lt //4
not //5
if-goto L3 //6
push constant 0 //7
pop local 1 //8
label L4 //9
push local 1 //10
push argument 0 //11
lt //12
not //13
if-goto L5 //14
push local 1 //15
push constant 1 //16
add //17
pop local 1 //18
goto L4 //19
label L5 //20
push local 0 //21
push constant 1 //22
add //23
pop local 0 //24
goto L2 //25
label L3 //26
return //27
function Sys.error 0 //0
push constant 3 //1
call String.new 1 //2
push constant 69 //3
call String.appendChar 2 //4
push constant 82 //5
call String.appendChar 2 //6
push constant 82 //7
call String.appendChar 2 //8
call Output.printString 1 //9
pop temp 0 //10
push argument 0 //11
call Output.printInt 1 //12
pop temp 0 //13
call Output.println 0 //14
pop temp 0 //15
return //16
