function Memory.init 0 //0
push constant 0 //1
pop static 1 //2
push constant 2048 //3
pop static 0 //4
push constant 16383 //5
push constant 2048 //6
sub //7
push constant 2 //8
sub //9
call freeList.setSize 1 //10
pop temp 0 //11
push constant 0 //12
call freeList.setNext 1 //13
pop temp 0 //14
return //15
function Memory.peek 0 //0
push static 1 //1
push argument 0 //2
add //3
pop pointer 1 //4
push that 0 //5
return //6
function Memory.poke 0 //0
push static 1 //1
push argument 0 //2
add //3
push argument 1 //4
pop temp 0 //5
pop pointer 1 //6
push temp 0 //7
pop that 0 //8
return //9
function Memory.alloc 2 //0
push static 0 //1
pop local 0 //2
label L0 //3
push local 0 //4
push constant 0 //5
eq //6
not //7
push local 0 //8
call FreeList.getSize 1 //9
push argument 0 //10
lt //11
push constant 1 //12
add //13
and //14
not //15
if-goto L1 //16
push local 0 //17
call FreeList.getNext 1 //18
pop local 0 //19
goto L0 //20
label L1 //21
push local 0 //22
push constant 0 //23
eq //24
not //25
if-goto L2 //26
push constant 0 //27
return //28
goto L3 //29
label L2 //30
label L3 //31
push local 0 //32
push constant 2 //33
add //34
push local 0 //35
call FreeList.getSize 1 //36
add //37
push argument 0 //38
sub //39
pop local 1 //40
push local 0 //41
push local 0 //42
call FreeList.getSize 1 //43
push argument 0 //44
sub //45
push constant 1 //46
sub //47
call FreeList.setSize 2 //48
pop temp 0 //49
push local 1 //50
push constant 1 //51
neg //52
add //53
push argument 0 //54
push constant 1 //55
add //56
pop temp 0 //57
pop pointer 1 //58
push temp 0 //59
pop that 0 //60
push local 1 //61
return //62
function Memory.deAlloc 5 //0
push static 0 //1
pop local 0 //2
label L4 //3
push local 0 //4
call FreeList.getNext 1 //5
push constant 0 //6
eq //7
not //8
push argument 0 //9
push local 0 //10
call FreeList.getNext 1 //11
gt //12
and //13
not //14
if-goto L5 //15
push local 0 //16
call FreeList.getNext 1 //17
pop local 0 //18
goto L4 //19
label L5 //20
push argument 0 //21
push constant 1 //22
sub //23
pop local 1 //24
push local 0 //25
call FreeList.getNext 1 //26
pop local 2 //27
push local 1 //28
call FreeList.getSize 1 //29
pop local 3 //30
push local 0 //31
call FreeList.getSize 1 //32
pop local 4 //33
push local 1 //34
push local 3 //35
add //36
push local 2 //37
eq //38
not //39
if-goto L6 //40
push local 3 //41
push local 2 //42
call FreeList.getSize 1 //43
add //44
pop local 3 //45
push local 1 //46
push local 3 //47
call FreeList.setSize 2 //48
pop temp 0 //49
push local 1 //50
push local 2 //51
call FreeList.getNext 1 //52
call FreeList.setNext 2 //53
pop temp 0 //54
push local 0 //55
push local 1 //56
call FreeList.setNext 2 //57
pop temp 0 //58
push local 0 //59
push constant 2 //60
add //61
push local 4 //62
add //63
push local 1 //64
eq //65
not //66
if-goto L7 //67
push local 0 //68
push local 4 //69
push local 3 //70
add //71
call FreeList.setSize 2 //72
pop temp 0 //73
push local 0 //74
push local 1 //75
call FreeList.getNext 1 //76
call FreeList.setNext 2 //77
pop temp 0 //78
return //79
goto L8 //80
label L7 //81
label L8 //82
return //83
goto L9 //84
label L6 //85
label L9 //86
push local 0 //87
push constant 2 //88
add //89
push local 4 //90
add //91
push local 1 //92
eq //93
not //94
if-goto L10 //95
push local 0 //96
push local 4 //97
push local 3 //98
add //99
call FreeList.setSize 2 //100
pop temp 0 //101
return //102
goto L11 //103
label L10 //104
label L11 //105
push local 1 //106
push local 2 //107
call FreeList.setNext 2 //108
pop temp 0 //109
push local 0 //110
push local 1 //111
call FreeList.setNext 2 //112
pop temp 0 //113
return //114
