function Main.main 2 //0
push constant 0 //1
call String.new 1 //2
pop local 0 //3
push local 0 //4
call String.dispose 1 //5
pop temp 0 //6
push constant 6 //7
call String.new 1 //8
pop local 0 //9
push local 0 //10
push constant 97 //11
call String.appendChar 2 //12
pop local 0 //13
push local 0 //14
push constant 98 //15
call String.appendChar 2 //16
pop local 0 //17
push local 0 //18
push constant 99 //19
call String.appendChar 2 //20
pop local 0 //21
push local 0 //22
push constant 100 //23
call String.appendChar 2 //24
pop local 0 //25
push local 0 //26
push constant 101 //27
call String.appendChar 2 //28
pop local 0 //29
push constant 16 //30
call String.new 1 //31
push constant 110 //32
call String.appendChar 2 //33
push constant 101 //34
call String.appendChar 2 //35
push constant 119 //36
call String.appendChar 2 //37
push constant 44 //38
call String.appendChar 2 //39
push constant 97 //40
call String.appendChar 2 //41
push constant 112 //42
call String.appendChar 2 //43
push constant 112 //44
call String.appendChar 2 //45
push constant 101 //46
call String.appendChar 2 //47
push constant 110 //48
call String.appendChar 2 //49
push constant 100 //50
call String.appendChar 2 //51
push constant 67 //52
call String.appendChar 2 //53
push constant 104 //54
call String.appendChar 2 //55
push constant 97 //56
call String.appendChar 2 //57
push constant 114 //58
call String.appendChar 2 //59
push constant 58 //60
call String.appendChar 2 //61
push constant 32 //62
call String.appendChar 2 //63
call Output.printString 1 //64
pop temp 0 //65
push local 0 //66
call Output.printString 1 //67
pop temp 0 //68
call Output.println 0 //69
pop temp 0 //70
push constant 6 //71
call String.new 1 //72
pop local 1 //73
push local 1 //74
push constant 12345 //75
call String.setInt 2 //76
pop temp 0 //77
push constant 8 //78
call String.new 1 //79
push constant 115 //80
call String.appendChar 2 //81
push constant 101 //82
call String.appendChar 2 //83
push constant 116 //84
call String.appendChar 2 //85
push constant 73 //86
call String.appendChar 2 //87
push constant 110 //88
call String.appendChar 2 //89
push constant 116 //90
call String.appendChar 2 //91
push constant 58 //92
call String.appendChar 2 //93
push constant 32 //94
call String.appendChar 2 //95
call Output.printString 1 //96
pop temp 0 //97
push local 1 //98
call Output.printString 1 //99
pop temp 0 //100
call Output.println 0 //101
pop temp 0 //102
push local 1 //103
push constant 32767 //104
neg //105
call String.setInt 2 //106
pop temp 0 //107
push constant 8 //108
call String.new 1 //109
push constant 115 //110
call String.appendChar 2 //111
push constant 101 //112
call String.appendChar 2 //113
push constant 116 //114
call String.appendChar 2 //115
push constant 73 //116
call String.appendChar 2 //117
push constant 110 //118
call String.appendChar 2 //119
push constant 116 //120
call String.appendChar 2 //121
push constant 58 //122
call String.appendChar 2 //123
push constant 32 //124
call String.appendChar 2 //125
call Output.printString 1 //126
pop temp 0 //127
push local 1 //128
call Output.printString 1 //129
pop temp 0 //130
call Output.println 0 //131
pop temp 0 //132
push constant 8 //133
call String.new 1 //134
push constant 108 //135
call String.appendChar 2 //136
push constant 101 //137
call String.appendChar 2 //138
push constant 110 //139
call String.appendChar 2 //140
push constant 103 //141
call String.appendChar 2 //142
push constant 116 //143
call String.appendChar 2 //144
push constant 104 //145
call String.appendChar 2 //146
push constant 58 //147
call String.appendChar 2 //148
push constant 32 //149
call String.appendChar 2 //150
call Output.printString 1 //151
pop temp 0 //152
push local 0 //153
call String.length 1 //154
call Output.printInt 1 //155
pop temp 0 //156
call Output.println 0 //157
pop temp 0 //158
push constant 11 //159
call String.new 1 //160
push constant 99 //161
call String.appendChar 2 //162
push constant 104 //163
call String.appendChar 2 //164
push constant 97 //165
call String.appendChar 2 //166
push constant 114 //167
call String.appendChar 2 //168
push constant 65 //169
call String.appendChar 2 //170
push constant 116 //171
call String.appendChar 2 //172
push constant 91 //173
call String.appendChar 2 //174
push constant 50 //175
call String.appendChar 2 //176
push constant 93 //177
call String.appendChar 2 //178
push constant 58 //179
call String.appendChar 2 //180
push constant 32 //181
call String.appendChar 2 //182
call Output.printString 1 //183
pop temp 0 //184
push local 0 //185
push constant 2 //186
call String.charAt 2 //187
call Output.printInt 1 //188
pop temp 0 //189
call Output.println 0 //190
pop temp 0 //191
push local 0 //192
push constant 2 //193
push constant 45 //194
call String.setCharAt 3 //195
pop temp 0 //196
push constant 18 //197
call String.new 1 //198
push constant 115 //199
call String.appendChar 2 //200
push constant 101 //201
call String.appendChar 2 //202
push constant 116 //203
call String.appendChar 2 //204
push constant 67 //205
call String.appendChar 2 //206
push constant 104 //207
call String.appendChar 2 //208
push constant 97 //209
call String.appendChar 2 //210
push constant 114 //211
call String.appendChar 2 //212
push constant 65 //213
call String.appendChar 2 //214
push constant 116 //215
call String.appendChar 2 //216
push constant 40 //217
call String.appendChar 2 //218
push constant 50 //219
call String.appendChar 2 //220
push constant 44 //221
call String.appendChar 2 //222
push constant 39 //223
call String.appendChar 2 //224
push constant 45 //225
call String.appendChar 2 //226
push constant 39 //227
call String.appendChar 2 //228
push constant 41 //229
call String.appendChar 2 //230
push constant 58 //231
call String.appendChar 2 //232
push constant 32 //233
call String.appendChar 2 //234
call Output.printString 1 //235
pop temp 0 //236
push local 0 //237
call Output.printString 1 //238
pop temp 0 //239
call Output.println 0 //240
pop temp 0 //241
push local 0 //242
call String.eraseLastChar 1 //243
pop temp 0 //244
push constant 15 //245
call String.new 1 //246
push constant 101 //247
call String.appendChar 2 //248
push constant 114 //249
call String.appendChar 2 //250
push constant 97 //251
call String.appendChar 2 //252
push constant 115 //253
call String.appendChar 2 //254
push constant 101 //255
call String.appendChar 2 //256
push constant 76 //257
call String.appendChar 2 //258
push constant 97 //259
call String.appendChar 2 //260
push constant 115 //261
call String.appendChar 2 //262
push constant 116 //263
call String.appendChar 2 //264
push constant 67 //265
call String.appendChar 2 //266
push constant 104 //267
call String.appendChar 2 //268
push constant 97 //269
call String.appendChar 2 //270
push constant 114 //271
call String.appendChar 2 //272
push constant 58 //273
call String.appendChar 2 //274
push constant 32 //275
call String.appendChar 2 //276
call Output.printString 1 //277
pop temp 0 //278
push local 0 //279
call Output.printString 1 //280
pop temp 0 //281
call Output.println 0 //282
pop temp 0 //283
push constant 3 //284
call String.new 1 //285
push constant 52 //286
call String.appendChar 2 //287
push constant 53 //288
call String.appendChar 2 //289
push constant 54 //290
call String.appendChar 2 //291
pop local 0 //292
push constant 10 //293
call String.new 1 //294
push constant 105 //295
call String.appendChar 2 //296
push constant 110 //297
call String.appendChar 2 //298
push constant 116 //299
call String.appendChar 2 //300
push constant 86 //301
call String.appendChar 2 //302
push constant 97 //303
call String.appendChar 2 //304
push constant 108 //305
call String.appendChar 2 //306
push constant 117 //307
call String.appendChar 2 //308
push constant 101 //309
call String.appendChar 2 //310
push constant 58 //311
call String.appendChar 2 //312
push constant 32 //313
call String.appendChar 2 //314
call Output.printString 1 //315
pop temp 0 //316
push local 0 //317
call String.intValue 1 //318
call Output.printInt 1 //319
pop temp 0 //320
call Output.println 0 //321
pop temp 0 //322
push constant 6 //323
call String.new 1 //324
push constant 45 //325
call String.appendChar 2 //326
push constant 51 //327
call String.appendChar 2 //328
push constant 50 //329
call String.appendChar 2 //330
push constant 49 //331
call String.appendChar 2 //332
push constant 50 //333
call String.appendChar 2 //334
push constant 51 //335
call String.appendChar 2 //336
pop local 0 //337
push constant 10 //338
call String.new 1 //339
push constant 105 //340
call String.appendChar 2 //341
push constant 110 //342
call String.appendChar 2 //343
push constant 116 //344
call String.appendChar 2 //345
push constant 86 //346
call String.appendChar 2 //347
push constant 97 //348
call String.appendChar 2 //349
push constant 108 //350
call String.appendChar 2 //351
push constant 117 //352
call String.appendChar 2 //353
push constant 101 //354
call String.appendChar 2 //355
push constant 58 //356
call String.appendChar 2 //357
push constant 32 //358
call String.appendChar 2 //359
call Output.printString 1 //360
pop temp 0 //361
push local 0 //362
call String.intValue 1 //363
call Output.printInt 1 //364
pop temp 0 //365
call Output.println 0 //366
pop temp 0 //367
push constant 11 //368
call String.new 1 //369
push constant 98 //370
call String.appendChar 2 //371
push constant 97 //372
call String.appendChar 2 //373
push constant 99 //374
call String.appendChar 2 //375
push constant 107 //376
call String.appendChar 2 //377
push constant 83 //378
call String.appendChar 2 //379
push constant 112 //380
call String.appendChar 2 //381
push constant 97 //382
call String.appendChar 2 //383
push constant 99 //384
call String.appendChar 2 //385
push constant 101 //386
call String.appendChar 2 //387
push constant 58 //388
call String.appendChar 2 //389
push constant 32 //390
call String.appendChar 2 //391
call Output.printString 1 //392
pop temp 0 //393
call String.backSpace 0 //394
call Output.printInt 1 //395
pop temp 0 //396
call Output.println 0 //397
pop temp 0 //398
push constant 13 //399
call String.new 1 //400
push constant 100 //401
call String.appendChar 2 //402
push constant 111 //403
call String.appendChar 2 //404
push constant 117 //405
call String.appendChar 2 //406
push constant 98 //407
call String.appendChar 2 //408
push constant 108 //409
call String.appendChar 2 //410
push constant 101 //411
call String.appendChar 2 //412
push constant 81 //413
call String.appendChar 2 //414
push constant 117 //415
call String.appendChar 2 //416
push constant 111 //417
call String.appendChar 2 //418
push constant 116 //419
call String.appendChar 2 //420
push constant 101 //421
call String.appendChar 2 //422
push constant 58 //423
call String.appendChar 2 //424
push constant 32 //425
call String.appendChar 2 //426
call Output.printString 1 //427
pop temp 0 //428
call String.doubleQuote 0 //429
call Output.printInt 1 //430
pop temp 0 //431
call Output.println 0 //432
pop temp 0 //433
push constant 9 //434
call String.new 1 //435
push constant 110 //436
call String.appendChar 2 //437
push constant 101 //438
call String.appendChar 2 //439
push constant 119 //440
call String.appendChar 2 //441
push constant 76 //442
call String.appendChar 2 //443
push constant 105 //444
call String.appendChar 2 //445
push constant 110 //446
call String.appendChar 2 //447
push constant 101 //448
call String.appendChar 2 //449
push constant 58 //450
call String.appendChar 2 //451
push constant 32 //452
call String.appendChar 2 //453
call Output.printString 1 //454
pop temp 0 //455
call String.newLine 0 //456
call Output.printInt 1 //457
pop temp 0 //458
call Output.println 0 //459
pop temp 0 //460
push local 1 //461
call String.dispose 1 //462
pop temp 0 //463
push local 0 //464
call String.dispose 1 //465
pop temp 0 //466
return //467
