function Main.main 1 //0
push constant 1 //1
call String.new 1 //2
pop local 0 //3
push local 0 //4
call String.doubleQuote 0 //5
call String.appendChar 2 //6
pop temp 0 //7
push constant 0 //8
push constant 63 //9
call Output.moveCursor 2 //10
pop temp 0 //11
push constant 66 //12
call Output.printChar 1 //13
pop temp 0 //14
push constant 22 //15
push constant 0 //16
call Output.moveCursor 2 //17
pop temp 0 //18
push constant 67 //19
call Output.printChar 1 //20
pop temp 0 //21
push constant 22 //22
push constant 63 //23
call Output.moveCursor 2 //24
pop temp 0 //25
push constant 68 //26
call Output.printChar 1 //27
pop temp 0 //28
push constant 65 //29
call Output.printChar 1 //30
pop temp 0 //31
push constant 2 //32
push constant 0 //33
call Output.moveCursor 2 //34
pop temp 0 //35
push constant 10 //36
call String.new 1 //37
push constant 48 //38
call String.appendChar 2 //39
push constant 49 //40
call String.appendChar 2 //41
push constant 50 //42
call String.appendChar 2 //43
push constant 51 //44
call String.appendChar 2 //45
push constant 52 //46
call String.appendChar 2 //47
push constant 53 //48
call String.appendChar 2 //49
push constant 54 //50
call String.appendChar 2 //51
push constant 55 //52
call String.appendChar 2 //53
push constant 56 //54
call String.appendChar 2 //55
push constant 57 //56
call String.appendChar 2 //57
call Output.printString 1 //58
pop temp 0 //59
call Output.println 0 //60
pop temp 0 //61
push constant 53 //62
call String.new 1 //63
push constant 65 //64
call String.appendChar 2 //65
push constant 66 //66
call String.appendChar 2 //67
push constant 67 //68
call String.appendChar 2 //69
push constant 68 //70
call String.appendChar 2 //71
push constant 69 //72
call String.appendChar 2 //73
push constant 70 //74
call String.appendChar 2 //75
push constant 71 //76
call String.appendChar 2 //77
push constant 72 //78
call String.appendChar 2 //79
push constant 73 //80
call String.appendChar 2 //81
push constant 74 //82
call String.appendChar 2 //83
push constant 75 //84
call String.appendChar 2 //85
push constant 76 //86
call String.appendChar 2 //87
push constant 77 //88
call String.appendChar 2 //89
push constant 78 //90
call String.appendChar 2 //91
push constant 79 //92
call String.appendChar 2 //93
push constant 80 //94
call String.appendChar 2 //95
push constant 81 //96
call String.appendChar 2 //97
push constant 82 //98
call String.appendChar 2 //99
push constant 83 //100
call String.appendChar 2 //101
push constant 84 //102
call String.appendChar 2 //103
push constant 85 //104
call String.appendChar 2 //105
push constant 86 //106
call String.appendChar 2 //107
push constant 87 //108
call String.appendChar 2 //109
push constant 88 //110
call String.appendChar 2 //111
push constant 89 //112
call String.appendChar 2 //113
push constant 90 //114
call String.appendChar 2 //115
push constant 32 //116
call String.appendChar 2 //117
push constant 97 //118
call String.appendChar 2 //119
push constant 98 //120
call String.appendChar 2 //121
push constant 99 //122
call String.appendChar 2 //123
push constant 100 //124
call String.appendChar 2 //125
push constant 101 //126
call String.appendChar 2 //127
push constant 102 //128
call String.appendChar 2 //129
push constant 103 //130
call String.appendChar 2 //131
push constant 104 //132
call String.appendChar 2 //133
push constant 105 //134
call String.appendChar 2 //135
push constant 106 //136
call String.appendChar 2 //137
push constant 107 //138
call String.appendChar 2 //139
push constant 108 //140
call String.appendChar 2 //141
push constant 109 //142
call String.appendChar 2 //143
push constant 110 //144
call String.appendChar 2 //145
push constant 111 //146
call String.appendChar 2 //147
push constant 112 //148
call String.appendChar 2 //149
push constant 113 //150
call String.appendChar 2 //151
push constant 114 //152
call String.appendChar 2 //153
push constant 115 //154
call String.appendChar 2 //155
push constant 116 //156
call String.appendChar 2 //157
push constant 117 //158
call String.appendChar 2 //159
push constant 118 //160
call String.appendChar 2 //161
push constant 119 //162
call String.appendChar 2 //163
push constant 120 //164
call String.appendChar 2 //165
push constant 121 //166
call String.appendChar 2 //167
push constant 122 //168
call String.appendChar 2 //169
call Output.printString 1 //170
pop temp 0 //171
call Output.println 0 //172
pop temp 0 //173
push constant 31 //174
call String.new 1 //175
push constant 33 //176
call String.appendChar 2 //177
push constant 35 //178
call String.appendChar 2 //179
push constant 36 //180
call String.appendChar 2 //181
push constant 37 //182
call String.appendChar 2 //183
push constant 38 //184
call String.appendChar 2 //185
push constant 39 //186
call String.appendChar 2 //187
push constant 40 //188
call String.appendChar 2 //189
push constant 41 //190
call String.appendChar 2 //191
push constant 42 //192
call String.appendChar 2 //193
push constant 43 //194
call String.appendChar 2 //195
push constant 44 //196
call String.appendChar 2 //197
push constant 45 //198
call String.appendChar 2 //199
push constant 46 //200
call String.appendChar 2 //201
push constant 47 //202
call String.appendChar 2 //203
push constant 58 //204
call String.appendChar 2 //205
push constant 59 //206
call String.appendChar 2 //207
push constant 60 //208
call String.appendChar 2 //209
push constant 61 //210
call String.appendChar 2 //211
push constant 62 //212
call String.appendChar 2 //213
push constant 63 //214
call String.appendChar 2 //215
push constant 64 //216
call String.appendChar 2 //217
push constant 91 //218
call String.appendChar 2 //219
push constant 92 //220
call String.appendChar 2 //221
push constant 93 //222
call String.appendChar 2 //223
push constant 94 //224
call String.appendChar 2 //225
push constant 95 //226
call String.appendChar 2 //227
push constant 96 //228
call String.appendChar 2 //229
push constant 123 //230
call String.appendChar 2 //231
push constant 124 //232
call String.appendChar 2 //233
push constant 125 //234
call String.appendChar 2 //235
push constant 126 //236
call String.appendChar 2 //237
call Output.printString 1 //238
pop temp 0 //239
push local 0 //240
call Output.printString 1 //241
pop temp 0 //242
call Output.println 0 //243
pop temp 0 //244
push constant 12345 //245
neg //246
call Output.printInt 1 //247
pop temp 0 //248
call Output.backSpace 0 //249
pop temp 0 //250
push constant 6789 //251
call Output.printInt 1 //252
pop temp 0 //253
return //254
