function Output.init 2 //0
push constant 1 //1
pop local 1 //2
push constant 15 //3
call Array.new 1 //4
pop static 3 //5
label L0 //6
push local 0 //7
push constant 15 //8
lt //9
not //10
if-goto L1 //11
push static 3 //12
push local 0 //13
add //14
push local 1 //15
pop temp 0 //16
pop pointer 1 //17
push temp 0 //18
pop that 0 //19
push local 1 //20
push local 1 //21
add //22
pop local 1 //23
push local 0 //24
push constant 1 //25
add //26
pop local 0 //27
goto L0 //28
label L1 //29
call Output.initMap 0 //30
pop temp 0 //31
return //32
function Output.initMap 1 //0
push constant 127 //1
call Array.new 1 //2
pop static 0 //3
push constant 0 //4
push constant 63 //5
push constant 63 //6
push constant 63 //7
push constant 63 //8
push constant 63 //9
push constant 63 //10
push constant 63 //11
push constant 63 //12
push constant 63 //13
push constant 0 //14
push constant 0 //15
call Output.create 12 //16
pop temp 0 //17
push constant 32 //18
push constant 0 //19
push constant 0 //20
push constant 0 //21
push constant 0 //22
push constant 0 //23
push constant 0 //24
push constant 0 //25
push constant 0 //26
push constant 0 //27
push constant 0 //28
push constant 0 //29
call Output.create 12 //30
pop temp 0 //31
push constant 33 //32
push constant 12 //33
push constant 30 //34
push constant 30 //35
push constant 30 //36
push constant 12 //37
push constant 12 //38
push constant 0 //39
push constant 12 //40
push constant 12 //41
push constant 0 //42
push constant 0 //43
call Output.create 12 //44
pop temp 0 //45
push constant 34 //46
push constant 54 //47
push constant 54 //48
push constant 20 //49
push constant 0 //50
push constant 0 //51
push constant 0 //52
push constant 0 //53
push constant 0 //54
push constant 0 //55
push constant 0 //56
push constant 0 //57
call Output.create 12 //58
pop temp 0 //59
push constant 35 //60
push constant 0 //61
push constant 18 //62
push constant 18 //63
push constant 63 //64
push constant 18 //65
push constant 18 //66
push constant 63 //67
push constant 18 //68
push constant 18 //69
push constant 0 //70
push constant 0 //71
call Output.create 12 //72
pop temp 0 //73
push constant 36 //74
push constant 12 //75
push constant 30 //76
push constant 51 //77
push constant 3 //78
push constant 30 //79
push constant 48 //80
push constant 51 //81
push constant 30 //82
push constant 12 //83
push constant 12 //84
push constant 0 //85
call Output.create 12 //86
pop temp 0 //87
push constant 37 //88
push constant 0 //89
push constant 0 //90
push constant 35 //91
push constant 51 //92
push constant 24 //93
push constant 12 //94
push constant 6 //95
push constant 51 //96
push constant 49 //97
push constant 0 //98
push constant 0 //99
call Output.create 12 //100
pop temp 0 //101
push constant 38 //102
push constant 12 //103
push constant 30 //104
push constant 30 //105
push constant 12 //106
push constant 54 //107
push constant 27 //108
push constant 27 //109
push constant 27 //110
push constant 54 //111
push constant 0 //112
push constant 0 //113
call Output.create 12 //114
pop temp 0 //115
push constant 39 //116
push constant 12 //117
push constant 12 //118
push constant 6 //119
push constant 0 //120
push constant 0 //121
push constant 0 //122
push constant 0 //123
push constant 0 //124
push constant 0 //125
push constant 0 //126
push constant 0 //127
call Output.create 12 //128
pop temp 0 //129
push constant 40 //130
push constant 24 //131
push constant 12 //132
push constant 6 //133
push constant 6 //134
push constant 6 //135
push constant 6 //136
push constant 6 //137
push constant 12 //138
push constant 24 //139
push constant 0 //140
push constant 0 //141
call Output.create 12 //142
pop temp 0 //143
push constant 41 //144
push constant 6 //145
push constant 12 //146
push constant 24 //147
push constant 24 //148
push constant 24 //149
push constant 24 //150
push constant 24 //151
push constant 12 //152
push constant 6 //153
push constant 0 //154
push constant 0 //155
call Output.create 12 //156
pop temp 0 //157
push constant 42 //158
push constant 0 //159
push constant 0 //160
push constant 0 //161
push constant 51 //162
push constant 30 //163
push constant 63 //164
push constant 30 //165
push constant 51 //166
push constant 0 //167
push constant 0 //168
push constant 0 //169
call Output.create 12 //170
pop temp 0 //171
push constant 43 //172
push constant 0 //173
push constant 0 //174
push constant 0 //175
push constant 12 //176
push constant 12 //177
push constant 63 //178
push constant 12 //179
push constant 12 //180
push constant 0 //181
push constant 0 //182
push constant 0 //183
call Output.create 12 //184
pop temp 0 //185
push constant 44 //186
push constant 0 //187
push constant 0 //188
push constant 0 //189
push constant 0 //190
push constant 0 //191
push constant 0 //192
push constant 0 //193
push constant 12 //194
push constant 12 //195
push constant 6 //196
push constant 0 //197
call Output.create 12 //198
pop temp 0 //199
push constant 45 //200
push constant 0 //201
push constant 0 //202
push constant 0 //203
push constant 0 //204
push constant 0 //205
push constant 63 //206
push constant 0 //207
push constant 0 //208
push constant 0 //209
push constant 0 //210
push constant 0 //211
call Output.create 12 //212
pop temp 0 //213
push constant 46 //214
push constant 0 //215
push constant 0 //216
push constant 0 //217
push constant 0 //218
push constant 0 //219
push constant 0 //220
push constant 0 //221
push constant 12 //222
push constant 12 //223
push constant 0 //224
push constant 0 //225
call Output.create 12 //226
pop temp 0 //227
push constant 47 //228
push constant 0 //229
push constant 0 //230
push constant 32 //231
push constant 48 //232
push constant 24 //233
push constant 12 //234
push constant 6 //235
push constant 3 //236
push constant 1 //237
push constant 0 //238
push constant 0 //239
call Output.create 12 //240
pop temp 0 //241
push constant 48 //242
push constant 12 //243
push constant 30 //244
push constant 51 //245
push constant 51 //246
push constant 51 //247
push constant 51 //248
push constant 51 //249
push constant 30 //250
push constant 12 //251
push constant 0 //252
push constant 0 //253
call Output.create 12 //254
pop temp 0 //255
push constant 49 //256
push constant 12 //257
push constant 14 //258
push constant 15 //259
push constant 12 //260
push constant 12 //261
push constant 12 //262
push constant 12 //263
push constant 12 //264
push constant 63 //265
push constant 0 //266
push constant 0 //267
call Output.create 12 //268
pop temp 0 //269
push constant 50 //270
push constant 30 //271
push constant 51 //272
push constant 48 //273
push constant 24 //274
push constant 12 //275
push constant 6 //276
push constant 3 //277
push constant 51 //278
push constant 63 //279
push constant 0 //280
push constant 0 //281
call Output.create 12 //282
pop temp 0 //283
push constant 51 //284
push constant 30 //285
push constant 51 //286
push constant 48 //287
push constant 48 //288
push constant 28 //289
push constant 48 //290
push constant 48 //291
push constant 51 //292
push constant 30 //293
push constant 0 //294
push constant 0 //295
call Output.create 12 //296
pop temp 0 //297
push constant 52 //298
push constant 16 //299
push constant 24 //300
push constant 28 //301
push constant 26 //302
push constant 25 //303
push constant 63 //304
push constant 24 //305
push constant 24 //306
push constant 60 //307
push constant 0 //308
push constant 0 //309
call Output.create 12 //310
pop temp 0 //311
push constant 53 //312
push constant 63 //313
push constant 3 //314
push constant 3 //315
push constant 31 //316
push constant 48 //317
push constant 48 //318
push constant 48 //319
push constant 51 //320
push constant 30 //321
push constant 0 //322
push constant 0 //323
call Output.create 12 //324
pop temp 0 //325
push constant 54 //326
push constant 28 //327
push constant 6 //328
push constant 3 //329
push constant 3 //330
push constant 31 //331
push constant 51 //332
push constant 51 //333
push constant 51 //334
push constant 30 //335
push constant 0 //336
push constant 0 //337
call Output.create 12 //338
pop temp 0 //339
push constant 55 //340
push constant 63 //341
push constant 49 //342
push constant 48 //343
push constant 48 //344
push constant 24 //345
push constant 12 //346
push constant 12 //347
push constant 12 //348
push constant 12 //349
push constant 0 //350
push constant 0 //351
call Output.create 12 //352
pop temp 0 //353
push constant 56 //354
push constant 30 //355
push constant 51 //356
push constant 51 //357
push constant 51 //358
push constant 30 //359
push constant 51 //360
push constant 51 //361
push constant 51 //362
push constant 30 //363
push constant 0 //364
push constant 0 //365
call Output.create 12 //366
pop temp 0 //367
push constant 57 //368
push constant 30 //369
push constant 51 //370
push constant 51 //371
push constant 51 //372
push constant 62 //373
push constant 48 //374
push constant 48 //375
push constant 24 //376
push constant 14 //377
push constant 0 //378
push constant 0 //379
call Output.create 12 //380
pop temp 0 //381
push constant 58 //382
push constant 0 //383
push constant 0 //384
push constant 12 //385
push constant 12 //386
push constant 0 //387
push constant 0 //388
push constant 12 //389
push constant 12 //390
push constant 0 //391
push constant 0 //392
push constant 0 //393
call Output.create 12 //394
pop temp 0 //395
push constant 59 //396
push constant 0 //397
push constant 0 //398
push constant 12 //399
push constant 12 //400
push constant 0 //401
push constant 0 //402
push constant 12 //403
push constant 12 //404
push constant 6 //405
push constant 0 //406
push constant 0 //407
call Output.create 12 //408
pop temp 0 //409
push constant 60 //410
push constant 0 //411
push constant 0 //412
push constant 24 //413
push constant 12 //414
push constant 6 //415
push constant 3 //416
push constant 6 //417
push constant 12 //418
push constant 24 //419
push constant 0 //420
push constant 0 //421
call Output.create 12 //422
pop temp 0 //423
push constant 61 //424
push constant 0 //425
push constant 0 //426
push constant 0 //427
push constant 63 //428
push constant 0 //429
push constant 0 //430
push constant 63 //431
push constant 0 //432
push constant 0 //433
push constant 0 //434
push constant 0 //435
call Output.create 12 //436
pop temp 0 //437
push constant 62 //438
push constant 0 //439
push constant 0 //440
push constant 3 //441
push constant 6 //442
push constant 12 //443
push constant 24 //444
push constant 12 //445
push constant 6 //446
push constant 3 //447
push constant 0 //448
push constant 0 //449
call Output.create 12 //450
pop temp 0 //451
push constant 64 //452
push constant 30 //453
push constant 51 //454
push constant 51 //455
push constant 59 //456
push constant 59 //457
push constant 59 //458
push constant 27 //459
push constant 3 //460
push constant 30 //461
push constant 0 //462
push constant 0 //463
call Output.create 12 //464
pop temp 0 //465
push constant 63 //466
push constant 30 //467
push constant 51 //468
push constant 51 //469
push constant 24 //470
push constant 12 //471
push constant 12 //472
push constant 0 //473
push constant 12 //474
push constant 12 //475
push constant 0 //476
push constant 0 //477
call Output.create 12 //478
pop temp 0 //479
push constant 65 //480
push constant 12 //481
push constant 30 //482
push constant 51 //483
push constant 51 //484
push constant 63 //485
push constant 51 //486
push constant 51 //487
push constant 51 //488
push constant 51 //489
push constant 0 //490
push constant 0 //491
call Output.create 12 //492
pop temp 0 //493
push constant 66 //494
push constant 31 //495
push constant 51 //496
push constant 51 //497
push constant 51 //498
push constant 31 //499
push constant 51 //500
push constant 51 //501
push constant 51 //502
push constant 31 //503
push constant 0 //504
push constant 0 //505
call Output.create 12 //506
pop temp 0 //507
push constant 67 //508
push constant 28 //509
push constant 54 //510
push constant 35 //511
push constant 3 //512
push constant 3 //513
push constant 3 //514
push constant 35 //515
push constant 54 //516
push constant 28 //517
push constant 0 //518
push constant 0 //519
call Output.create 12 //520
pop temp 0 //521
push constant 68 //522
push constant 15 //523
push constant 27 //524
push constant 51 //525
push constant 51 //526
push constant 51 //527
push constant 51 //528
push constant 51 //529
push constant 27 //530
push constant 15 //531
push constant 0 //532
push constant 0 //533
call Output.create 12 //534
pop temp 0 //535
push constant 69 //536
push constant 63 //537
push constant 51 //538
push constant 35 //539
push constant 11 //540
push constant 15 //541
push constant 11 //542
push constant 35 //543
push constant 51 //544
push constant 63 //545
push constant 0 //546
push constant 0 //547
call Output.create 12 //548
pop temp 0 //549
push constant 70 //550
push constant 63 //551
push constant 51 //552
push constant 35 //553
push constant 11 //554
push constant 15 //555
push constant 11 //556
push constant 3 //557
push constant 3 //558
push constant 3 //559
push constant 0 //560
push constant 0 //561
call Output.create 12 //562
pop temp 0 //563
push constant 71 //564
push constant 28 //565
push constant 54 //566
push constant 35 //567
push constant 3 //568
push constant 59 //569
push constant 51 //570
push constant 51 //571
push constant 54 //572
push constant 44 //573
push constant 0 //574
push constant 0 //575
call Output.create 12 //576
pop temp 0 //577
push constant 72 //578
push constant 51 //579
push constant 51 //580
push constant 51 //581
push constant 51 //582
push constant 63 //583
push constant 51 //584
push constant 51 //585
push constant 51 //586
push constant 51 //587
push constant 0 //588
push constant 0 //589
call Output.create 12 //590
pop temp 0 //591
push constant 73 //592
push constant 30 //593
push constant 12 //594
push constant 12 //595
push constant 12 //596
push constant 12 //597
push constant 12 //598
push constant 12 //599
push constant 12 //600
push constant 30 //601
push constant 0 //602
push constant 0 //603
call Output.create 12 //604
pop temp 0 //605
push constant 74 //606
push constant 60 //607
push constant 24 //608
push constant 24 //609
push constant 24 //610
push constant 24 //611
push constant 24 //612
push constant 27 //613
push constant 27 //614
push constant 14 //615
push constant 0 //616
push constant 0 //617
call Output.create 12 //618
pop temp 0 //619
push constant 75 //620
push constant 51 //621
push constant 51 //622
push constant 51 //623
push constant 27 //624
push constant 15 //625
push constant 27 //626
push constant 51 //627
push constant 51 //628
push constant 51 //629
push constant 0 //630
push constant 0 //631
call Output.create 12 //632
pop temp 0 //633
push constant 76 //634
push constant 3 //635
push constant 3 //636
push constant 3 //637
push constant 3 //638
push constant 3 //639
push constant 3 //640
push constant 35 //641
push constant 51 //642
push constant 63 //643
push constant 0 //644
push constant 0 //645
call Output.create 12 //646
pop temp 0 //647
push constant 77 //648
push constant 33 //649
push constant 51 //650
push constant 63 //651
push constant 63 //652
push constant 51 //653
push constant 51 //654
push constant 51 //655
push constant 51 //656
push constant 51 //657
push constant 0 //658
push constant 0 //659
call Output.create 12 //660
pop temp 0 //661
push constant 78 //662
push constant 51 //663
push constant 51 //664
push constant 55 //665
push constant 55 //666
push constant 63 //667
push constant 59 //668
push constant 59 //669
push constant 51 //670
push constant 51 //671
push constant 0 //672
push constant 0 //673
call Output.create 12 //674
pop temp 0 //675
push constant 79 //676
push constant 30 //677
push constant 51 //678
push constant 51 //679
push constant 51 //680
push constant 51 //681
push constant 51 //682
push constant 51 //683
push constant 51 //684
push constant 30 //685
push constant 0 //686
push constant 0 //687
call Output.create 12 //688
pop temp 0 //689
push constant 80 //690
push constant 31 //691
push constant 51 //692
push constant 51 //693
push constant 51 //694
push constant 31 //695
push constant 3 //696
push constant 3 //697
push constant 3 //698
push constant 3 //699
push constant 0 //700
push constant 0 //701
call Output.create 12 //702
pop temp 0 //703
push constant 81 //704
push constant 30 //705
push constant 51 //706
push constant 51 //707
push constant 51 //708
push constant 51 //709
push constant 51 //710
push constant 63 //711
push constant 59 //712
push constant 30 //713
push constant 48 //714
push constant 0 //715
call Output.create 12 //716
pop temp 0 //717
push constant 82 //718
push constant 31 //719
push constant 51 //720
push constant 51 //721
push constant 51 //722
push constant 31 //723
push constant 27 //724
push constant 51 //725
push constant 51 //726
push constant 51 //727
push constant 0 //728
push constant 0 //729
call Output.create 12 //730
pop temp 0 //731
push constant 83 //732
push constant 30 //733
push constant 51 //734
push constant 51 //735
push constant 6 //736
push constant 28 //737
push constant 48 //738
push constant 51 //739
push constant 51 //740
push constant 30 //741
push constant 0 //742
push constant 0 //743
call Output.create 12 //744
pop temp 0 //745
push constant 84 //746
push constant 63 //747
push constant 63 //748
push constant 45 //749
push constant 12 //750
push constant 12 //751
push constant 12 //752
push constant 12 //753
push constant 12 //754
push constant 30 //755
push constant 0 //756
push constant 0 //757
call Output.create 12 //758
pop temp 0 //759
push constant 85 //760
push constant 51 //761
push constant 51 //762
push constant 51 //763
push constant 51 //764
push constant 51 //765
push constant 51 //766
push constant 51 //767
push constant 51 //768
push constant 30 //769
push constant 0 //770
push constant 0 //771
call Output.create 12 //772
pop temp 0 //773
push constant 86 //774
push constant 51 //775
push constant 51 //776
push constant 51 //777
push constant 51 //778
push constant 51 //779
push constant 30 //780
push constant 30 //781
push constant 12 //782
push constant 12 //783
push constant 0 //784
push constant 0 //785
call Output.create 12 //786
pop temp 0 //787
push constant 87 //788
push constant 51 //789
push constant 51 //790
push constant 51 //791
push constant 51 //792
push constant 51 //793
push constant 63 //794
push constant 63 //795
push constant 63 //796
push constant 18 //797
push constant 0 //798
push constant 0 //799
call Output.create 12 //800
pop temp 0 //801
push constant 88 //802
push constant 51 //803
push constant 51 //804
push constant 30 //805
push constant 30 //806
push constant 12 //807
push constant 30 //808
push constant 30 //809
push constant 51 //810
push constant 51 //811
push constant 0 //812
push constant 0 //813
call Output.create 12 //814
pop temp 0 //815
push constant 89 //816
push constant 51 //817
push constant 51 //818
push constant 51 //819
push constant 51 //820
push constant 30 //821
push constant 12 //822
push constant 12 //823
push constant 12 //824
push constant 30 //825
push constant 0 //826
push constant 0 //827
call Output.create 12 //828
pop temp 0 //829
push constant 90 //830
push constant 63 //831
push constant 51 //832
push constant 49 //833
push constant 24 //834
push constant 12 //835
push constant 6 //836
push constant 35 //837
push constant 51 //838
push constant 63 //839
push constant 0 //840
push constant 0 //841
call Output.create 12 //842
pop temp 0 //843
push constant 91 //844
push constant 30 //845
push constant 6 //846
push constant 6 //847
push constant 6 //848
push constant 6 //849
push constant 6 //850
push constant 6 //851
push constant 6 //852
push constant 30 //853
push constant 0 //854
push constant 0 //855
call Output.create 12 //856
pop temp 0 //857
push constant 92 //858
push constant 0 //859
push constant 0 //860
push constant 1 //861
push constant 3 //862
push constant 6 //863
push constant 12 //864
push constant 24 //865
push constant 48 //866
push constant 32 //867
push constant 0 //868
push constant 0 //869
call Output.create 12 //870
pop temp 0 //871
push constant 93 //872
push constant 30 //873
push constant 24 //874
push constant 24 //875
push constant 24 //876
push constant 24 //877
push constant 24 //878
push constant 24 //879
push constant 24 //880
push constant 30 //881
push constant 0 //882
push constant 0 //883
call Output.create 12 //884
pop temp 0 //885
push constant 94 //886
push constant 8 //887
push constant 28 //888
push constant 54 //889
push constant 0 //890
push constant 0 //891
push constant 0 //892
push constant 0 //893
push constant 0 //894
push constant 0 //895
push constant 0 //896
push constant 0 //897
call Output.create 12 //898
pop temp 0 //899
push constant 95 //900
push constant 0 //901
push constant 0 //902
push constant 0 //903
push constant 0 //904
push constant 0 //905
push constant 0 //906
push constant 0 //907
push constant 0 //908
push constant 0 //909
push constant 63 //910
push constant 0 //911
call Output.create 12 //912
pop temp 0 //913
push constant 96 //914
push constant 6 //915
push constant 12 //916
push constant 24 //917
push constant 0 //918
push constant 0 //919
push constant 0 //920
push constant 0 //921
push constant 0 //922
push constant 0 //923
push constant 0 //924
push constant 0 //925
call Output.create 12 //926
pop temp 0 //927
push constant 97 //928
push constant 0 //929
push constant 0 //930
push constant 0 //931
push constant 14 //932
push constant 24 //933
push constant 30 //934
push constant 27 //935
push constant 27 //936
push constant 54 //937
push constant 0 //938
push constant 0 //939
call Output.create 12 //940
pop temp 0 //941
push constant 98 //942
push constant 3 //943
push constant 3 //944
push constant 3 //945
push constant 15 //946
push constant 27 //947
push constant 51 //948
push constant 51 //949
push constant 51 //950
push constant 30 //951
push constant 0 //952
push constant 0 //953
call Output.create 12 //954
pop temp 0 //955
push constant 99 //956
push constant 0 //957
push constant 0 //958
push constant 0 //959
push constant 30 //960
push constant 51 //961
push constant 3 //962
push constant 3 //963
push constant 51 //964
push constant 30 //965
push constant 0 //966
push constant 0 //967
call Output.create 12 //968
pop temp 0 //969
push constant 100 //970
push constant 48 //971
push constant 48 //972
push constant 48 //973
push constant 60 //974
push constant 54 //975
push constant 51 //976
push constant 51 //977
push constant 51 //978
push constant 30 //979
push constant 0 //980
push constant 0 //981
call Output.create 12 //982
pop temp 0 //983
push constant 101 //984
push constant 0 //985
push constant 0 //986
push constant 0 //987
push constant 30 //988
push constant 51 //989
push constant 63 //990
push constant 3 //991
push constant 51 //992
push constant 30 //993
push constant 0 //994
push constant 0 //995
call Output.create 12 //996
pop temp 0 //997
push constant 102 //998
push constant 28 //999
push constant 54 //1000
push constant 38 //1001
push constant 6 //1002
push constant 15 //1003
push constant 6 //1004
push constant 6 //1005
push constant 6 //1006
push constant 15 //1007
push constant 0 //1008
push constant 0 //1009
call Output.create 12 //1010
pop temp 0 //1011
push constant 103 //1012
push constant 0 //1013
push constant 0 //1014
push constant 30 //1015
push constant 51 //1016
push constant 51 //1017
push constant 51 //1018
push constant 62 //1019
push constant 48 //1020
push constant 51 //1021
push constant 30 //1022
push constant 0 //1023
call Output.create 12 //1024
pop temp 0 //1025
push constant 104 //1026
push constant 3 //1027
push constant 3 //1028
push constant 3 //1029
push constant 27 //1030
push constant 55 //1031
push constant 51 //1032
push constant 51 //1033
push constant 51 //1034
push constant 51 //1035
push constant 0 //1036
push constant 0 //1037
call Output.create 12 //1038
pop temp 0 //1039
push constant 105 //1040
push constant 12 //1041
push constant 12 //1042
push constant 0 //1043
push constant 14 //1044
push constant 12 //1045
push constant 12 //1046
push constant 12 //1047
push constant 12 //1048
push constant 30 //1049
push constant 0 //1050
push constant 0 //1051
call Output.create 12 //1052
pop temp 0 //1053
push constant 106 //1054
push constant 48 //1055
push constant 48 //1056
push constant 0 //1057
push constant 56 //1058
push constant 48 //1059
push constant 48 //1060
push constant 48 //1061
push constant 48 //1062
push constant 51 //1063
push constant 30 //1064
push constant 0 //1065
call Output.create 12 //1066
pop temp 0 //1067
push constant 107 //1068
push constant 3 //1069
push constant 3 //1070
push constant 3 //1071
push constant 51 //1072
push constant 27 //1073
push constant 15 //1074
push constant 15 //1075
push constant 27 //1076
push constant 51 //1077
push constant 0 //1078
push constant 0 //1079
call Output.create 12 //1080
pop temp 0 //1081
push constant 108 //1082
push constant 14 //1083
push constant 12 //1084
push constant 12 //1085
push constant 12 //1086
push constant 12 //1087
push constant 12 //1088
push constant 12 //1089
push constant 12 //1090
push constant 30 //1091
push constant 0 //1092
push constant 0 //1093
call Output.create 12 //1094
pop temp 0 //1095
push constant 109 //1096
push constant 0 //1097
push constant 0 //1098
push constant 0 //1099
push constant 29 //1100
push constant 63 //1101
push constant 43 //1102
push constant 43 //1103
push constant 43 //1104
push constant 43 //1105
push constant 0 //1106
push constant 0 //1107
call Output.create 12 //1108
pop temp 0 //1109
push constant 110 //1110
push constant 0 //1111
push constant 0 //1112
push constant 0 //1113
push constant 29 //1114
push constant 51 //1115
push constant 51 //1116
push constant 51 //1117
push constant 51 //1118
push constant 51 //1119
push constant 0 //1120
push constant 0 //1121
call Output.create 12 //1122
pop temp 0 //1123
push constant 111 //1124
push constant 0 //1125
push constant 0 //1126
push constant 0 //1127
push constant 30 //1128
push constant 51 //1129
push constant 51 //1130
push constant 51 //1131
push constant 51 //1132
push constant 30 //1133
push constant 0 //1134
push constant 0 //1135
call Output.create 12 //1136
pop temp 0 //1137
push constant 112 //1138
push constant 0 //1139
push constant 0 //1140
push constant 0 //1141
push constant 30 //1142
push constant 51 //1143
push constant 51 //1144
push constant 51 //1145
push constant 31 //1146
push constant 3 //1147
push constant 3 //1148
push constant 0 //1149
call Output.create 12 //1150
pop temp 0 //1151
push constant 113 //1152
push constant 0 //1153
push constant 0 //1154
push constant 0 //1155
push constant 30 //1156
push constant 51 //1157
push constant 51 //1158
push constant 51 //1159
push constant 62 //1160
push constant 48 //1161
push constant 48 //1162
push constant 0 //1163
call Output.create 12 //1164
pop temp 0 //1165
push constant 114 //1166
push constant 0 //1167
push constant 0 //1168
push constant 0 //1169
push constant 29 //1170
push constant 55 //1171
push constant 51 //1172
push constant 3 //1173
push constant 3 //1174
push constant 7 //1175
push constant 0 //1176
push constant 0 //1177
call Output.create 12 //1178
pop temp 0 //1179
push constant 115 //1180
push constant 0 //1181
push constant 0 //1182
push constant 0 //1183
push constant 30 //1184
push constant 51 //1185
push constant 6 //1186
push constant 24 //1187
push constant 51 //1188
push constant 30 //1189
push constant 0 //1190
push constant 0 //1191
call Output.create 12 //1192
pop temp 0 //1193
push constant 116 //1194
push constant 4 //1195
push constant 6 //1196
push constant 6 //1197
push constant 15 //1198
push constant 6 //1199
push constant 6 //1200
push constant 6 //1201
push constant 54 //1202
push constant 28 //1203
push constant 0 //1204
push constant 0 //1205
call Output.create 12 //1206
pop temp 0 //1207
push constant 117 //1208
push constant 0 //1209
push constant 0 //1210
push constant 0 //1211
push constant 27 //1212
push constant 27 //1213
push constant 27 //1214
push constant 27 //1215
push constant 27 //1216
push constant 54 //1217
push constant 0 //1218
push constant 0 //1219
call Output.create 12 //1220
pop temp 0 //1221
push constant 118 //1222
push constant 0 //1223
push constant 0 //1224
push constant 0 //1225
push constant 51 //1226
push constant 51 //1227
push constant 51 //1228
push constant 51 //1229
push constant 30 //1230
push constant 12 //1231
push constant 0 //1232
push constant 0 //1233
call Output.create 12 //1234
pop temp 0 //1235
push constant 119 //1236
push constant 0 //1237
push constant 0 //1238
push constant 0 //1239
push constant 51 //1240
push constant 51 //1241
push constant 51 //1242
push constant 63 //1243
push constant 63 //1244
push constant 18 //1245
push constant 0 //1246
push constant 0 //1247
call Output.create 12 //1248
pop temp 0 //1249
push constant 120 //1250
push constant 0 //1251
push constant 0 //1252
push constant 0 //1253
push constant 51 //1254
push constant 30 //1255
push constant 12 //1256
push constant 12 //1257
push constant 30 //1258
push constant 51 //1259
push constant 0 //1260
push constant 0 //1261
call Output.create 12 //1262
pop temp 0 //1263
push constant 121 //1264
push constant 0 //1265
push constant 0 //1266
push constant 0 //1267
push constant 51 //1268
push constant 51 //1269
push constant 51 //1270
push constant 62 //1271
push constant 48 //1272
push constant 24 //1273
push constant 15 //1274
push constant 0 //1275
call Output.create 12 //1276
pop temp 0 //1277
push constant 122 //1278
push constant 0 //1279
push constant 0 //1280
push constant 0 //1281
push constant 63 //1282
push constant 27 //1283
push constant 12 //1284
push constant 6 //1285
push constant 51 //1286
push constant 63 //1287
push constant 0 //1288
push constant 0 //1289
call Output.create 12 //1290
pop temp 0 //1291
push constant 123 //1292
push constant 56 //1293
push constant 12 //1294
push constant 12 //1295
push constant 12 //1296
push constant 7 //1297
push constant 12 //1298
push constant 12 //1299
push constant 12 //1300
push constant 56 //1301
push constant 0 //1302
push constant 0 //1303
call Output.create 12 //1304
pop temp 0 //1305
push constant 124 //1306
push constant 12 //1307
push constant 12 //1308
push constant 12 //1309
push constant 12 //1310
push constant 12 //1311
push constant 12 //1312
push constant 12 //1313
push constant 12 //1314
push constant 12 //1315
push constant 0 //1316
push constant 0 //1317
call Output.create 12 //1318
pop temp 0 //1319
push constant 125 //1320
push constant 7 //1321
push constant 12 //1322
push constant 12 //1323
push constant 12 //1324
push constant 56 //1325
push constant 12 //1326
push constant 12 //1327
push constant 12 //1328
push constant 7 //1329
push constant 0 //1330
push constant 0 //1331
call Output.create 12 //1332
pop temp 0 //1333
push constant 126 //1334
push constant 38 //1335
push constant 45 //1336
push constant 25 //1337
push constant 0 //1338
push constant 0 //1339
push constant 0 //1340
push constant 0 //1341
push constant 0 //1342
push constant 0 //1343
push constant 0 //1344
push constant 0 //1345
call Output.create 12 //1346
pop temp 0 //1347
return //1348
function Output.create 1 //0
push constant 11 //1
call Array.new 1 //2
pop local 0 //3
push static 0 //4
push argument 0 //5
add //6
push local 0 //7
pop temp 0 //8
pop pointer 1 //9
push temp 0 //10
pop that 0 //11
push local 0 //12
push constant 0 //13
add //14
push argument 1 //15
pop temp 0 //16
pop pointer 1 //17
push temp 0 //18
pop that 0 //19
push local 0 //20
push constant 1 //21
add //22
push argument 2 //23
pop temp 0 //24
pop pointer 1 //25
push temp 0 //26
pop that 0 //27
push local 0 //28
push constant 2 //29
add //30
push argument 3 //31
pop temp 0 //32
pop pointer 1 //33
push temp 0 //34
pop that 0 //35
push local 0 //36
push constant 3 //37
add //38
push argument 4 //39
pop temp 0 //40
pop pointer 1 //41
push temp 0 //42
pop that 0 //43
push local 0 //44
push constant 4 //45
add //46
push argument 5 //47
pop temp 0 //48
pop pointer 1 //49
push temp 0 //50
pop that 0 //51
push local 0 //52
push constant 5 //53
add //54
push argument 6 //55
pop temp 0 //56
pop pointer 1 //57
push temp 0 //58
pop that 0 //59
push local 0 //60
push constant 6 //61
add //62
push argument 7 //63
pop temp 0 //64
pop pointer 1 //65
push temp 0 //66
pop that 0 //67
push local 0 //68
push constant 7 //69
add //70
push argument 8 //71
pop temp 0 //72
pop pointer 1 //73
push temp 0 //74
pop that 0 //75
push local 0 //76
push constant 8 //77
add //78
push argument 9 //79
pop temp 0 //80
pop pointer 1 //81
push temp 0 //82
pop that 0 //83
push local 0 //84
push constant 9 //85
add //86
push argument 10 //87
pop temp 0 //88
pop pointer 1 //89
push temp 0 //90
pop that 0 //91
push local 0 //92
push constant 10 //93
add //94
push argument 11 //95
pop temp 0 //96
pop pointer 1 //97
push temp 0 //98
pop that 0 //99
return //100
function Output.getMap 0 //0
push argument 0 //1
push constant 32 //2
lt //3
push argument 0 //4
push constant 126 //5
gt //6
or //7
not //8
if-goto L2 //9
push constant 0 //10
pop argument 0 //11
goto L3 //12
label L2 //13
label L3 //14
push static 0 //15
push argument 0 //16
add //17
pop pointer 1 //18
push that 0 //19
return //20
function Output.bit 0 //0
push argument 0 //1
push static 3 //2
push argument 1 //3
add //4
pop pointer 1 //5
push that 0 //6
and //7
push constant 0 //8
eq //9
not //10
if-goto L4 //11
push constant 0 //12
return //13
goto L5 //14
label L4 //15
label L5 //16
push constant 1 //17
neg //18
return //19
function Output.moveCursor 1 //0
push argument 1 //1
pop static 2 //2
push argument 0 //3
pop static 1 //4
push constant 0 //5
call Screen.setColor 1 //6
pop temp 0 //7
push argument 0 //8
push constant 23 //9
lt //10
push argument 1 //11
push constant 64 //12
lt //13
and //14
not //15
if-goto L6 //16
push argument 1 //17
push constant 8 //18
call Math.multiply 2 //19
push argument 0 //20
push constant 11 //21
call Math.multiply 2 //22
push argument 1 //23
push constant 1 //24
add //25
push constant 8 //26
call Math.multiply 2 //27
push constant 1 //28
sub //29
push argument 0 //30
push constant 1 //31
add //32
push constant 11 //33
call Math.multiply 2 //34
push constant 1 //35
sub //36
call Screen.drawRectangle 4 //37
pop temp 0 //38
goto L7 //39
label L6 //40
label L7 //41
push constant 1 //42
neg //43
call Screen.setColor 1 //44
pop temp 0 //45
return //46
function Output.printChar 3 //0
push argument 0 //1
call Output.getMap 1 //2
pop local 2 //3
label L8 //4
push local 0 //5
push constant 11 //6
lt //7
not //8
if-goto L9 //9
label L10 //10
push local 1 //11
push constant 8 //12
lt //13
not //14
if-goto L11 //15
push local 2 //16
push local 0 //17
add //18
pop pointer 1 //19
push that 0 //20
push local 1 //21
call Output.bit 2 //22
not //23
if-goto L12 //24
push static 2 //25
push constant 8 //26
call Math.multiply 2 //27
push local 1 //28
add //29
push static 1 //30
push constant 11 //31
call Math.multiply 2 //32
push local 0 //33
add //34
call Screen.drawPixel 2 //35
pop temp 0 //36
goto L13 //37
label L12 //38
label L13 //39
push local 1 //40
push constant 1 //41
add //42
pop local 1 //43
goto L10 //44
label L11 //45
push constant 0 //46
pop local 1 //47
push local 0 //48
push constant 1 //49
add //50
pop local 0 //51
goto L8 //52
label L9 //53
push static 2 //54
push constant 1 //55
add //56
pop static 2 //57
push static 2 //58
push constant 64 //59
eq //60
not //61
if-goto L14 //62
push constant 0 //63
pop static 2 //64
push static 1 //65
push constant 1 //66
add //67
pop static 1 //68
goto L15 //69
label L14 //70
label L15 //71
push static 1 //72
push constant 23 //73
eq //74
not //75
if-goto L16 //76
push constant 0 //77
pop static 1 //78
goto L17 //79
label L16 //80
label L17 //81
push static 1 //82
push static 2 //83
call Output.moveCursor 2 //84
pop temp 0 //85
return //86
function Output.printString 1 //0
label L18 //1
push local 0 //2
push argument 0 //3
call String.length 1 //4
lt //5
not //6
if-goto L19 //7
push argument 0 //8
push local 0 //9
call String.charAt 2 //10
call Output.printChar 1 //11
pop temp 0 //12
push local 0 //13
push constant 1 //14
add //15
pop local 0 //16
goto L18 //17
label L19 //18
return //19
function Output.printInt 1 //0
push constant 10 //1
call String.new 1 //2
pop local 0 //3
push local 0 //4
push argument 0 //5
call String.setInt 2 //6
pop temp 0 //7
push local 0 //8
call Output.printString 1 //9
pop temp 0 //10
return //11
function Output.println 0 //0
push constant 0 //1
pop static 2 //2
push static 1 //3
push constant 1 //4
add //5
pop static 1 //6
push static 1 //7
push constant 24 //8
eq //9
not //10
if-goto L20 //11
push constant 23 //12
pop static 1 //13
goto L21 //14
label L20 //15
label L21 //16
push static 1 //17
push static 2 //18
call Output.moveCursor 2 //19
pop temp 0 //20
return //21
function Output.backSpace 0 //0
push static 2 //1
push constant 1 //2
sub //3
pop static 2 //4
push static 2 //5
push constant 1 //6
neg //7
eq //8
not //9
if-goto L22 //10
push constant 0 //11
pop static 2 //12
goto L23 //13
label L22 //14
label L23 //15
push static 1 //16
push static 2 //17
call Output.moveCursor 2 //18
pop temp 0 //19
return //20
